.VersionInfo {
    height: 515px;
    display: flex;
    flex-flow: column;
}

.VersionInfo_mobile {
    display: none;
}

.VersionInfo-FeaturesList {
    margin-top: 80px;
} 

.FeaturesList {
    display: flex;
    overflow: hidden;
}

.VersionInfo-SeeAll {
    margin-top: 65px;
}
.SeeAllFeatures {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SeeAllFeatures-Link {
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
    font-family: "Roboto";
    border: 0;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
}

.SeeAllFeatures-Link:active, .SeeAllFeatures-Link:focus {
    outline: none;
}

.SeeAllFeatures-Link::-moz-focus-inner {
    border: 0;
}

.SeeAllFeatures-Arrow {
    height: 15px;
    width: 10px;
    margin-left: 5px;
    background-image: url(../../media/icon-grey-arrow.svg);
    display: inline-block;
    background-size: contain; 
    background-repeat: no-repeat;
}

@media all and (max-width: 1400px) {
    .FeaturesList {
        justify-content: space-between;
    }
    .VersionInfo {
        height: 535px;
    }
}

@media all and (max-width: 770px) {
    .VersionInfo {
        display: none;
    }
    
    .VersionInfo_mobile {
        display: flex;
        flex-flow: column;
        overflow: hidden;
    }
    
    .VersionInfo-FeaturesList {
        margin-top: 35px;
    } 
    
    .FeaturesList {
        flex-wrap: wrap;
        min-width: 600px;
        justify-content: center;
    }

    .VersionInfo-SeeAll {
        margin-top: 15px;
        margin-bottom: 35px;
    }
}

@media all and (max-width: 650px) {
    .FeaturesList {
        padding-left: 15px;
        justify-content: left;
    }
}

@media all and (max-width: 500px) {
    .VersionInfo-FeaturesList {
        margin-top: 7vw;
    } 
    
    .FeaturesList {
        padding-left: 11vw;
        min-width: 0;
        display: flex;
    }
    
    .VersionInfo-SeeAll {
        margin-top: 3vw;
        margin-bottom: 7vw;
    }
    .SeeAllFeatures-Link {
        font-size: 5.2vw;
    }
    .SeeAllFeatures-Arrow {
        height: 3.3vw;
        margin-left: 1vw;
    }
}