.t398__tooltipster-noir_28794438 .t398__list_item .t398__typo.t-active { 
    font-weight:400 !important; 
    opacity:0.40 !important;
}
.t398__tooltipster-noir_28794438 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
.t398__tooltipster-noir_28609370 .t398__list_item .t398__typo.t-active { 
    font-weight:400 !important; 
    opacity:0.40 !important;
}
.t398__tooltipster-noir_28609370 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
.t398__tooltipster-noir_37556529 .t398__list_item .t398__typo.t-active { 
    font-weight:400 !important; 
    opacity:0.40 !important;
}
.t398__tooltipster-noir_37556529 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
.t398__tooltipster-noir_31761874 .t398__list_item .t398__typo.t-active { 
    font-weight:400 !important; 
    opacity:0.40 !important;
}
.t398__tooltipster-noir_31761874 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
#rec28793274 input::-webkit-input-placeholder {
    color:#000000; opacity: 0.5;
}
#rec28793274 input::-moz-placeholder { 
    color:#000000; opacity: 0.5;
}
#rec28793274 input:-moz-placeholder {
    color:#000000; opacity: 0.5;
}
#rec28793274 input:-ms-input-placeholder {
    color:#000000; opacity: 0.5;
}
#rec28793274 .t-btn[data-btneffects-first], #rec28793274 .t-btn[data-btneffects-second], #rec28793274 .t-submit[data-btneffects-first], #rec28793274 .t-submit[data-btneffects-second] {
    position: relative; 
    overflow: hidden; 
   -webkit-transform: translate3d(0,0,0); 
    transform: translate3d(0,0,0);
}
.t398__tooltipster-noir_94854744 .t398__list_item .t398__typo.t-active { 
    font-weight:400 !important; 
    opacity:0.40 !important;
}
.t398__tooltipster-noir_94854744 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
.t398__tooltipster-noir_94854745 .t398__list_item .t398__typo.t-active { 
                font-weight:400 !important; 
                opacity:0.40 !important;
}
.t398__tooltipster-noir_94854745 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
.t398__tooltipster-noir_94854746 .t398__list_item .t398__typo.t-active { 
            font-weight:400 !important; 
            opacity:0.40 !important;
}
.t398__tooltipster-noir_94854746 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
.t398__tooltipster-noir_94854747 .t398__list_item .t398__typo.t-active { 
            font-weight:400 !important; 
            opacity:0.40 !important;
}
.t398__tooltipster-noir_94854747 { 
    background-color: #fff !important; 
    color: #222 !important; 
    text-align: center !important; 
    max-width: 250px !important; 
    border-radius: 3px !important; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20); 
}
#rec56098917 input::-webkit-input-placeholder {
    color:#000000; opacity: 0.5;
}
#rec56098917 input::-moz-placeholder { 
    color:#000000; opacity: 0.5;
}
#rec56098917 input:-moz-placeholder {
    color:#000000; opacity: 0.5;
}
#rec56098917 input:-ms-input-placeholder {
    color:#000000; opacity: 0.5;
}
#rec56098917 .t-btn[data-btneffects-first], #rec56098917 .t-btn[data-btneffects-second], #rec56098917 .t-submit[data-btneffects-first], #rec56098917 .t-submit[data-btneffects-second] {
    position: relative; 
    overflow: hidden; 
   -webkit-transform: translate3d(0,0,0); 
    transform: translate3d(0,0,0);
}
@media screen and (max-width: 980px) { 
    #rec28609354 .t228__leftcontainer { 
        padding: 20px; 
    }
}
@media screen and (max-width: 980px) { 
    #rec28609354 .t228__imglogo { 
        padding: 20px 0; 
    }
}
@media screen and (max-width: 980px) { 
    #rec94854742 .t228__leftcontainer { 
        padding: 20px; 
    }
}
@media screen and (max-width: 980px) { 
    #rec94854742 .t228__imglogo { 
        padding: 20px 0; 
    }
}