
.Feature {
    width: 415px;
    height: 275px;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.Feature-Icon {
    margin-top: 30px;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 50% bottom 50%;
}

.Feature-Title {
    margin-top: 20px;
    height: 30px;
    width: 400px;
    text-align: center;
}

.Feature-Caption {
    margin-top: 20px;
    height: 65px;
    width: 80%;
    box-sizing: content-box;
    padding-left: 10%;
    padding-right: 10%;
}

.Feature-TitleText {
    font-size: 22px;
    font-weight: 400;
}

.Feature-CaptionText {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}

@media all and (max-width: 1400px) {
    .Feature {
        margin-left: 10px;
        margin-right: 20px;
        width: 375px;
        min-width: 375px;
        height: 295px;
    }

    .Feature-Title {
        width: 80%;
    }
}

@media all and (max-width: 770px) {
    .Feature {
        width: 240px;
        min-width: 0;
        height: 265px;
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 35px;
    }
    
    .Feature-Icon {
        margin-top: 25px;
        width: 80px;
        height: 80px;
    }
    
    .Feature-Title {
        margin-top: 10px;
        height: 60px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 15%;
        padding-right: 15%; 
    }
    
    .Feature-Caption {
        margin-top: 5px;
        height: 65px;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    
    .Feature-TitleText {
        font-size: 21px;
        font-weight: 400;
    }
}

@media all and (max-width: 500px) {
    .Feature {
        width: 62vw;
        height: 70vw;
        margin-right: 8vw;
        margin-bottom: 9vw;
        align-self: center;
    }
    
    .Feature-Icon {
        margin-top: 6.5vw;
        width: 21vw;
        height: 21vw;
    }
    
    .Feature-Title {
        margin-top: 2.5vw;
        height: 15.5vw;
    }
    
    .Feature-Caption {
        margin-top: 1.3vw;
        height: 17vw;
    }
    .Feature-CaptionText {
        font-size: 4vw;
    }
    
    .Feature-TitleText {
        font-size: 5.2vw;
    }
}