.VersionsBlock {
    display: flex;
    flex-flow: column;
    min-width: 750px;
}

.VersionsBlock-List {
    margin-top: 90px;
    margin-bottom: 90px;
}

.VersionsList {
    padding-left: 80px;
    display: flex;
    flex-flow: column;
}

@media all and (max-width: 770px) {
    .VersionsBlock {
        min-width: 0;
    }

    .VersionsBlock-List {
        margin-top: 70px;
        margin-bottom: 200px;
    }
    
    .VersionsList {
        padding-left: 40px;
    }
}

@media all and (max-width: 500px) {
    .VersionsBlock-List {
        margin-top: 14vw;
        margin-bottom: 40vw;
    }
    
    .VersionsList {
        padding-left: 8vw;
    }
}