.PresentationBlock {
    background-color: dodgerblue;
    color: white;
    padding-left: 85px;
    height: 640px;
    display: flex;
    flex-flow: column;
    background-image: url(../../media/presentation-background-h.jpg);
    background-position: right 25% bottom 50%;
    background-size: cover;
    min-width: 750px;
}

.PresentationBlock-TopCaption {
    margin-top: 90px;
}

.PresentationCaption {
    height: 35px;
    padding-right: 50%;
}

.PresentationCaption-Text {
    font-size: 28px;
    font-weight: 300;
}

.PresentationCaption-Text_heavy {
    font-weight: 900;
}

.PresentationBlock-Heading {
    margin-top: 0;
} 

.PresentationHeading {
    height: 190px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.PresentationHeading-Text {
    font-weight: 900;
    font-size: 90px;
}

.PresentationHeading-Text_multiline {
    font-size: 45px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.PresentationBlock-BottomCaption {
    margin-top: 0;
}

.PresentationBlock-Button {
    margin-top: 125px;
}

.PresentationButton {
    height: 75px;
    width: 330px;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    color: white;
    border: 1.5px solid white;
    border-radius: 12px;
    background: none;
    display: block;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none;
    cursor: pointer;
}

.PresentationButton:active, .PresentationButton:focus {
    outline: none;
}

.PresentationButton::-moz-focus-inner {
  border: 0;
}

.PresentationButton:hover:active {
  border: 1.5px solid white;
}

@media all and (max-width: 1150px) {
    .PresentationBlock {
        background-position: right 50% bottom 50%;
    } 
    .PresentationCaption {
        padding-right: 33%;
    }
}

@media all and (max-width: 650px) {
    .PresentationBlock {
        height: 1090px;
        align-items: center;
        padding-left: 0px;
        background-image: url(../../media/presentation-background-v.jpg);
        background-position: center;
        min-width: 0;
    }
    
    .PresentationBlock-TopCaption {
        margin-top: 60px;
    }
    
    .PresentationCaption {
        height: 45px;
        padding-right: 0;
    }
    
    .PresentationCaption-Text {
        font-size: 26px;
    }
    
    .PresentationBlock-Heading {
        margin-top: 0px;
    } 
    
    .PresentationHeading {
        height: 150px;
        min-width: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .PresentationHeading-Text {
        font-size: 47px;
    }

    .PresentationHeading-Text_multiline {
        font-size: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .PresentationBlock-BottomCaption {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PresentationCaption_mobileBottom {
        height: 80px;
        line-height: 1.4;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .PresentationBlock-Button {
        margin-top: 55px;
    }
    
    .PresentationButton {
        height: 65px;
        width: 280px;
        font-size: 28px;
        color: rgb(0, 123, 255);
        border: none;
        border-radius: 7px;
        background: white;
        box-shadow: 2px 2px 12px rgb(0, 93, 215);;
    }
    
    .PresentationButton::-moz-focus-inner {
      border: 0;
    }
    
    .PresentationButton:hover:active {
      background-color: whitesmoke;
    }
}

@media all and (max-width: 613px) {
    .PresentationCaption_mobileBottom {
        padding-left: 14%;
        padding-right: 14%;
    }
}

@media all and (max-width: 593px) {
    .PresentationCaption_mobileBottom {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@media all and (max-width: 580px) {
    .PresentationCaption_mobileBottom {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media all and (max-width: 563px) {
    .PresentationCaption_mobileBottom {
        padding-left: 11%;
        padding-right: 11%;
    }
}

@media all and (max-width: 550px) {
    .PresentationCaption_mobileBottom {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media all and (max-width: 536px) {
    .PresentationCaption-Text {
        font-size: 24px;
    }
    .PresentationCaption_mobileBottom {
        padding-left: 9%;
        padding-right: 9%;
    }
}


@media all and (max-width: 500px) {
    .PresentationBlock {
        height: 218vw;
    }
    
    .PresentationBlock-TopCaption {
        margin-top: 12vw;
    }
    
    .PresentationCaption {
        height: 9vw;
    }
    
    .PresentationCaption-Text {
        font-size: 4.8vw;
    }
    
    .PresentationHeading {
        height: 30vw;
    }
    
    .PresentationHeading-Text {
        font-size: 9vw;
    }

    .PresentationHeading-Text_multiline {
        font-size: 7vw;
    }

    .PresentationCaption_mobileBottom {
        height: 16vw;
    }
    
    .PresentationBlock-Button {
        margin-top: 11vw;
    }
    
    .PresentationButton {
        height: 13vw;
        width: 56vw;
        font-size: 5.5vw;
        border-radius: 1.2vw;
    }
}