.App {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 500px;
  font-family: "Roboto", sans-serif;
  max-width: 1900px;
  min-width: 750px;
  border: 1px solid silver;
}

@media all and (max-width: 650px) {
  .App {
      min-width: 0;
  }
}