.TitleBlock {
    height: 395px;
    display: flex;
    flex-flow: column;
}

.TitleBlock-Heading {
    margin-top: 130px;
}

.TitleHeading {
    height: 65px;
    text-align: center;
}

.TitleHeading_de {
    padding-left: 12%;
    padding-right: 12%;
}

.TitleHeading-Text {
    font-size: 53px;
    font-weight: 700;
}


.TitleBlock-Subheading {
    margin-top: 60px;
}

.TitleSubheading {
    height: 70px;
    text-align: center;
    padding-left: 25%;        
    padding-right: 25%;
}

.TitleSubheading_de {
    padding-left: 12%;        
    padding-right: 12%;
}

.SubtitleHeading-Text {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
}

@media all and (max-width: 1910px) {
    .TitleSubheading {
        padding-left: 24%;        
        padding-right: 24%;
    } 
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1835px) {
    .TitleSubheading {
        padding-left: 23%;        
        padding-right: 23%;
    }
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1765px) {
    .TitleSubheading {
        padding-left: 22%;        
        padding-right: 22%;
    } 
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1700px) {
    .TitleSubheading {
        padding-left: 21%;        
        padding-right: 21%;
    }   
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1645px) {
    .TitleSubheading {
        padding-left: 20%;        
        padding-right: 20%;
    }    
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1590px) {
    .TitleSubheading {
        padding-left: 19%;        
        padding-right: 19%;
    }  
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1540px) {
    .TitleSubheading {
        padding-left: 18%;        
        padding-right: 18%;
    }  
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1490px) {
    .TitleSubheading {
        padding-left: 17%;        
        padding-right: 17%;
    }  
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1445px) {
    .TitleSubheading {
        padding-left: 16%;        
        padding-right: 16%;
    }  
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1405px) {
    .TitleSubheading {
        padding-left: 15%;        
        padding-right: 15%;
    } 
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1365px) {
    .TitleSubheading {
        padding-left: 14%;        
        padding-right: 14%;
    } 
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1325px) {
    .TitleSubheading {
        padding-left: 13%;        
        padding-right: 13%;
    } 
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}

@media all and (max-width: 1290px) {
    .TitleSubheading {
        padding-left: 12%;        
        padding-right: 12%;
    } 
    .TitleSubheading_de {
        padding-left: 12%;        
        padding-right: 12%;
    }
}




@media all and (max-width: 915px) {
    .TitleBlock-Heading {
        margin-top: 95px;
    }
    .TitleBlock-Heading_de {
        margin-top: 85px;
        margin-bottom: 25px;
    }
}


@media all and (max-width: 770px) {

    .TitleBlock {
        height: 550px;
    }
    
    .TitleBlock-Heading {
        margin-top: 125px;
    }
    
    .TitleBlock-Heading_de {
        margin-top: 85px;
        margin-bottom: 25px;
    }
    
    .TitleHeading {
        height: 65px;
    }
    
    .TitleHeading-Text {
        font-size: 47px;
    }
    
    .TitleBlock-Subheading {
        margin-top: 50px;
    }
    
    .TitleSubheading {
        height: 185px;
        padding-left: 16%;
        padding-right: 16%;
    }
    
    .SubtitleHeading-Text {
        font-size: 26px;
    }
    

}

@media all and (max-width: 500px) {
    .TitleBlock {
        height: 110vw;
    }
    
    .TitleBlock-Heading {
        margin-top: 25vw;
    }

    .TitleBlock-Heading_de {
        margin-top: 17vw;
        margin-bottom: 5vw;
    }
    
    .TitleHeading {
        height: 13vw;
    }
    
    .TitleHeading-Text {
        font-size: 9vw;
    }
    
    .TitleBlock-Subheading {
        margin-top: 10vw;
    }
    
    .TitleSubheading {
        height: 37vw;
    }
    
    .SubtitleHeading-Text {
        font-size: 5vw;
    }
}